
*{
    padding: 10px;
    margin: 0px;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 0px;
}
header, footer{
    background-color: rgb(56, 56, 56);
    border: 5px solid rgb(233, 233, 233);
    padding: 30px;
}
#mainsec{
    background-color: rgb(233, 233, 233);
}
#topsec{
    background-color: beige;
    margin-bottom: 8%;
}
#bottomsec{
    background-color: rgb(255, 200, 226);
}
#divOnTable{
    
    overflow-x: scroll;
}
#mainsec, header, footer{
    width: 80%;
    margin: auto;
}
/* fieldset and form */
#mainFieldset{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#mainFieldset fieldset div div{
    display: flex;  
    background-color: rgb(241, 241, 241);
    margin: 2px;
    padding: 1px;
    justify-content: space-between;
}
#mainFieldset fieldset{
    width: -moz-available;
    border: 1px dashed;
    flex: 1;
}
label{
    flex: 1;
    border: 1px dashed ;
    text-align: right;
}
#description{
    width: 100%;
}
select, input{
    flex: 2;
}
#mainFieldset:last-child label{
    display: block;
}
section input {
    width: 50%;
    padding: 5px;
}
/*buttons*/
#topButtons, #bottomButtons{
    text-align: center;
    padding-bottom: 0px;
}
button{
    background-color: crimson;
    padding: 10px 50px;
    color: white;
}
button:hover{
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    cursor: pointer;
}

button:disabled{
    background-color: rgb(126, 126, 126);
}

.allButtons{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* table */
thead{
    background-color: rgb(99, 0, 0);
    color: white;
}
td{
    border: 2px solid white;
}

table{
    width: 100%;
    padding: 0px;
    margin-bottom: 11%;
    text-align: center;
}
#divTableStatus{
    background-color: white;
    width: 100%;
}
/*rest*/
#queryDiv{
    text-align: center;
}
legend{
    background-color: white;
    color: crimson;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    font-size: large;
}
p{
    color: white;
    text-align: center;
}

img{
    width: 40px;
}

#status-bar{
    color: black;
    font-size: larger;
}